CompileFlags:
  Add:
    - -DLOCAL
    - -Wall
    - -O2
    - -Wextra
    - -Wshadow
    - -Wconversion
    - -Wfloat-equal
    - -Wno-unused-const-variable
    - -Wno-sign-conversion
    - -I /usr/local/Cellar/argp-standalone/1.3/include/
    - -I /usr/local/Cellar/gcc/14.1.0_2/bin/../lib/gcc/current/gcc/x86_64-apple-darwin23/14/include
    - -I /usr/local/Cellar/gcc/14.1.0_2/bin/../lib/gcc/current/gcc/x86_64-apple-darwin23/14/include-fixed
    - -I /Library/Developer/CommandLineTools/SDKs/MacOSX14.sdk/usr/include
    - -I /Library/Developer/CommandLineTools/SDKs/MacOSX14.sdk/System/Library/Frameworks
Index:
  Background: Skip
